.character-thumb {
    background-color:gold;
}

.img-fluid {
    height: 8em;
}

#heroselect {
    height: 15em;
    width: 100%;
    background-color: aquamarine;
}

#yourcharacter {
    height: 15em;
    width: 100%;
    background-color: aquamarine;
}

#enemycharacterselect {
    height: 15em;
    width: 100%;
    background-color: aquamarine;
}

#defender {
    height: 15em;
    width: 100%;
    background-color: aquamarine;
}