* {
    font-family: 'Marvel', sans-serif;
    color: white;
}

.background {
    background-image: url('../images/avengerstower.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.character-thumb {
    background-color:red;
}

.img-fluid {
    height: 8em;
}

#heroselect {
    height: 15em;
    width: 100%;
    /* background-color: aquamarine; */
}

#yourcharacter {
    height: 15em;
    width: 100%;
    /* background-color: aquamarine; */
}

#enemycharacterselect {
    height: 15em;
    width: 100%;
    /* background-color: aquamarine; */
}

#defender {
    height: 15em;
    width: 100%;
    background-color: aquamarine;
}